.container {
  border: 2px solid black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding: 8px;
}

.status {
  font-size: 12px;
}
.active {
  color: green;
}
.inactive {
  color: red;
}
